<ul ng-show="usersCtrl.tab != 'off'" class="nav nav-tabs">
  <li role="presentation" ng-class="usersCtrl.tab == 'signin' ? 'active':'' ">
    <button ng-click="usersCtrl.open('signin')">Sign in</button>
  </li>
  <li role="presentation" ng-class="usersCtrl.tab == 'signup' ? 'active':'' ">
    <button ng-click="usersCtrl.open('signup')">Sign up</button>
  </li>
</ul>
<div ng-switch on="usersCtrl.tab">
  <div ng-switch-when="signin">
    <form ng-submit="usersCtrl.signin()" name="signInForm" role="form">
      <div class="form-group">
        <input type="text" name="username" class="username form-control" ng-model="usersCtrl.user.name" required ng-minlength="4" placeholder="Name">
        <span ng-show="signInForm.username.$error.required">Required field</span>
        <span ng-show="signInForm.username.$error.minlength">Name should contain at least four characters</span>
      </div>

      <div class="form-group">
        <input type="email" name="useremail" class="usermail form-control" ng-model="usersCtrl.user.email" ng-pattern="emailFormat" placeholder="Email">
        <span ng-show="signInForm.useremail.$invalid">Invalid field</span>
      </div>

      <div class="form-group">
        <input type="password" name="userpassword" class="userpassword form-control" ng-model="usersCtrl.user.password" required placeholder="Password">
        <span ng-show="signInForm.userpassword.$error.required">Required field</span>
      </div>

      <input type="submit" class="signin" value="Sign in" ng-disabled="signInForm.$invalid">
    </form>
  </div>
  <div ng-switch-when="signup">
    <form ng-submit="usersCtrl.signup()" name="signUpForm" class="" role="form">
      <div class="form-group">
        <input type="text" name="username" class="form-control" ng-model="usersCtrl.newuser.name" required ng-minlength="4" placeholder="Name">
        <span ng-show="signUpForm.username.$error.required">Required field</span>
        <span ng-show="signUpForm.username.$error.minlength">Name should contain at least four characters</span>
      </div>

      <div class="form-group">
        <input type="email" name="useremail" class="form-control" ng-model="usersCtrl.newuser.email" ng-pattern="emailFormat" placeholder="Email">
        <span ng-show="signUpForm.useremail.$invalid">Invalid field</span>
      </div>

      <div class="form-group">
        <input type="password" name="userpassword" class="form-control" ng-model="usersCtrl.newuser.password" required placeholder="Password">
        <span ng-show="signUpForm.userpassword.$error.required">Required field</span>
      </div>

      <input type="submit" value="Sign up" ng-disabled="signUpForm.$invalid">
    </form>
  </div>
</div>
